.header h2 {
  font-family: 'Yeseva One';
  font-weight: 700;
  text-align: center;
  font-size: 2em;
  color: #5f370a;  
  margin: 60px auto;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:"a a g"
                      "i i g"
                      "c b b"
                      "d d d"
                      "f f h";
  grid-gap: 20px;
  margin: 0 10px 20px;
  justify-content: space-between;
}

.content h3 {
  text-align: center;
}

.content p{
  font-size: 1em;
  line-height: 1.7em;
  padding-right: 10px;
}

.content ul {
  /* list-style: none; */
  padding-left: 6px;
  font-size: 1.0em;
  line-height: 2em;
}

.content ul span {
  font-style: italic;
  font-size: 0.8em;
}

.a, .b, .c, .d, .e, .f, .g, .h, .i {
  background-color: rgb(253, 244, 230);
  padding-left: 20px;
  box-shadow: 0 0 6px 0 gray;

}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
  background-image: url(../../static/hp2.png);
  background-size: cover;
  background-position: top;
  background-color: white;
  box-shadow: none;
}

.e {
  grid-area: e;
  background-image: url(../../static/space.png);
  background-size: cover;
  background-position: center;

}

.f {
  grid-area: f;

}

.g {
  grid-area: g;
  background-image: url(../../static/tardis.jpg);
  background-size:cover;
  background-position: center;
}
.h {
  grid-area: h;
  background-image: url(../../static/dark1.jpg);
  background-size:cover;
  background-position: top;
}
.i {
  grid-area: i;
  background-image: url(../../static/brene1.jpg);
  background-size:cover;
  background-position: center;
}

