.header h2 {
  font-family: 'Yeseva One';
  font-weight: 700;
  text-align: center;
  font-size: 2em;
  color: #5f370a;  
  margin: 60px auto;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:"a a e"
                      "c d e"
                      "f b b";
  grid-gap: 20px;
  margin-bottom: 20px;
}

.a, .b, .c, .d, .e, .f {
  background-color: #fcd8b5;
  padding-left: 20px;
  box-shadow: 0 0 6px 0 gray;
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
  background-image: url(../../static/star.png);
  background-size:cover;
  background-position: center;
}

.e {
  grid-area: e;
  background-image: url(../../static/Cosmos.jpg);
  background-size:cover;
  background-position: center;

}

.f {
  grid-area: f;
}

