@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Karla&family=Spartan');

html, body {
  min-height: 100%;
  color: rgb(0, 0, 0);
}

body {
  font-family: "Karla", Arial, Helvetica, sans-serif;
  margin: 0 auto;
  
}

p {
  margin: 16px auto;
  line-height: 1.5em;
}

.layout {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 150px;
  background-color: rgba(231, 214, 198, 0.747);
    background-image: url(../../static/sunset.jpg);
  background-position: center center;
  background-size:cover;
}

nav img {
  width: 100px;
  margin: 25px;
  display: flex;
  align-items: center;
}

nav .links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  font-size: 2em;
  /* text-transform: uppercase; */
}

nav a {
  display: inline-block;
  margin-left: 40px;
  margin-right: 20px;
  font-weight: 700;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
  color: rgb(29, 0, 82);
}

nav a:link {
  text-decoration: none;
}

nav a:hover {
  border-color: rgb(255, 255, 255);
  text-decoration: none;
}

.content {
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(../../static/sunset.jpg);
  background-position: center bottom;
  background-size:cover;
  height: 150px;
}

footer .social-links img {
  text-align: center;
  width: 36px;
  padding: 2px;
  border: solid transparent 2px;
  border-radius: 50px;
  margin: 20px 10px 0;
  transition: 0.2s ease-out all;
}

footer img:hover {
  border-color: rgb(128, 0, 70);
  transform: scale(1.1);
}

footer h5 {
  word-spacing: 0.1em;
  font-size: 1em;
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  nav .links {
    font-size: 1.3em;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  
}