@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&family=Karla');

html, body {
  min-height: 100%;
  color: rgb(0, 0, 0);
}

body {
  font-family: "Karla", Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

p {
  margin: 16px auto;
  line-height: 1.5em;
}

.layout {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100px;
  background-color: #F1DCA7;
  /* background-image: url(../../static/sunset.jpg);
  background-position: center center;
  background-size: cover; */
}


nav img {
  width: 80px;
  margin: 10px;
  display: flex;
  align-items: center;
}

nav .rightdiv {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav .icon {
  display: none;
  background-color: transparent;
  border: none;
}

nav .links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;


}

nav a {
  display: inline-block;
  margin-left: 40px;
  margin-right: 20px;
  padding-bottom: 8px;
  font-family: 'Yeseva One';
  font-size: 1.3em;
  font-weight: 700;
  border-bottom: 3px solid transparent;
  color: #3d3f30;
}

nav a:link {
  text-decoration: none;
}

nav a:hover {
  border-color: #3d3f30;
  text-decoration: none;
}

.content {
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F1DCA7;
  height: 100px;
}

footer .social-links img {
  text-align: center;
  width: 32px;
  border: solid transparent 2px;
  border-radius: 100px;
  margin: 20px 10px 0;
  transition: 0.2s ease-out all;
  background-color: #b15b22;
}

footer img:hover {
  transform: scale(1.13);
}

footer h5 {
  word-spacing: 0.1em;
  font-size: 1em;
  font-weight: 400;
  color: #3d3f30;
  margin-top: 4px;
}

@media only screen and (max-width: 768px) {
  nav a {
    font-size: 1.1em;
    margin-left: 30px;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 425px) {
  nav {
    height: 60px;
    top: 0px;
    width: 100vw;
    margin: 0 auto;
    position: fixed;
    z-index: 2;
    box-shadow: 0 0 2px 0 rgb(105, 105, 105);
  }

  nav img {
    width: 50px;
    margin: 5px;
  }
  nav .links {
    display: none;
  }
  nav .icon {
    display: flex;
    margin: 10px;
    color:#ae2012;
  }
  nav .showmenu {
    display: flex;
    position: absolute;
    top: 60px;
    width: 100%;
    height: 120px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    background: linear-gradient(#F1DCA7, #f1dca748);    
  }

  nav .showmenu a {
    margin-right: 20px;
    font-size: 1.0em;
  }

  nav .rightdiv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }

}
