
.bannerImg {
  width: 100%;
  height: 300px;

}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 80px;
}

h1 {
  font-family: 'Yeseva One';
  font-weight: 700;
  /* font-family: "Alfa Slab One";
  font-weight: 400; */
  /* font-family: 'Pacifico'; */
  color: #5f370a;
  text-align: center;
  font-size: 3.5em;
  margin: 60px 0;
}

h2 {
  text-align: center;
  font-size: 2em;
  margin: 20px auto;

}

.elevator {
  margin: 0 30px;
  background-color: #612f5a;
  box-shadow: 0 0 12px 0 gray;
  width: 70%;

}

.elevator p {
  padding: 30px;
  line-height: 2.3em;
  font-size: 1.5em;
  font-family: 'Yeseva One';
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff;

}



.buttons {
  width: 250px;
  margin: 0 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 20px;
  margin: 0 auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A67784;
  border: none;
  border-radius: 4px;
  padding: 20px;
  font-family: "Karla", Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  text-transform: capitalize;
  /* transition: ease-in 0.1s all; */
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.button:hover {
  background-color: #612f5a;
}

.button span {
  margin-right: 5px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: ease-out 0.5s;
}

.button:hover span {
  padding-right: 20px;
}

.button:active {
  transform: scale(0.97);
}

.tech {
  display: grid;
  grid-template-areas:"a b c"
                      "a d e";
                      /* "a d e" ; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
  margin: 0 10px 60px;
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.e {
  grid-area: e;
}

.a, .b, .c, .d, .e {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fcd8b5;
  box-shadow: 0 0 6px 0 gray;

}

.tech h3 {
  font-size: 1.3em;
  text-align: center;
  
}

.tech ul {
  list-style: none;
  padding-left: 0;
  font-size: 1.1em;
  line-height: 2em;
  text-align: center;
}

h2 .link {
  color: white;
}

.projectdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectbutton {
  width: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A67784;
  border: none;
  border-radius: 4px;
  padding: 20px;
  font-family: "Karla", Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  text-transform: capitalize;
  transition: 0.5s all;
  cursor: pointer;
  text-decoration: none;
  color: white;
  margin-bottom: 60px;
  transition: 0s all;
}

.projectbutton:hover {
  background-color: #612f5a;
}

.projectbutton span {
  margin-right: 5px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: ease-out 0.5s;
}

.projectbutton:hover span {
  padding-right: 50px;
}

.projectbutton:active {
  transform: scale(0.97);
}

@media only screen and (max-width: 768px) {
  .banner {
    flex-direction: column;
    
  }

  .banner .elevator {
    width: 90%;
    max-width: 500px;
    margin-bottom: 80px;
  }

  .banner .buttons {
    width: 300px;
    margin-bottom: 20px;
  }

  .tech {
    grid-template-areas:"a b "
                        "a c"
                        "d e";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 20px 60px;
  }

  .tech h3 {
    font-size: 1.2em;
    text-overflow: wrap;
  }
  .tech ul {
    font-size: 1em;
  }

}
@media only screen and (max-width: 425px) {

  .tech h3 {
    font-size: 1em;
  }
  .tech ul {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 320px) {
  .projectbutton {
    width: 270px;
  }
}
