


.h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 2.5em;
  margin: 60px auto;
}

.projects .grid {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-bottom: 40px;
}

.projects .box {
  width: 275px;
  height: 275px;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  visibility: visible;
}

.box .container {
  transform: translate(0, -280px);
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease;
}

.box .container:hover {
  opacity: 1;
}

figcaption {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color:  rgb(255, 255, 255);
}

figcaption h3 {
  margin: 0 auto;
  font-size: 1.7em;
  text-transform: uppercase;
  /* color: white; */
  text-align: center;
}

figcaption p {
  margin: 0 15px;
  font-size: 1.5em;

}

figcaption .links {
  display: inline-block;
}

figcaption .link {
  font-size: 1.8em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-bottom: 2px transparent solid;
  margin: 0 20px;

}

figcaption .link:hover {
  border-color: rgb(255, 255, 255);
}









