


.projects h2 {
  text-align: center;
  font-family: 'Yeseva One';
  font-weight: 700;
  margin: 60px auto;
  color: #5f370a;
}

.projects .grid {
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:""; */
  display: inline-flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-bottom: 40px;
}

.projects .box {
  width: 350px;
  height: 350px;
  border: solid 2px rgb(196, 196, 196);
  /* border-radius: 100px; */
  box-shadow: 0 0 8px 0 gray;

  /* z-index: 1; */
  display: flex;
  flex-direction: column;
  transition: 0.3s all ease-out;

}

.box:hover {
  transform: scale(1.1);
}



.box img {
  width: 100%;
  height: 50%;
  /* z-index: 0; */
  object-position: top;
  object-fit: cover;
  visibility: visible;
}

.box .container {
  /* transform: translate(0, -280px); */
  background-color: rgb(253, 244, 230);
  width: 100%;
  height: 50%;
  opacity: 1;
  transition: all 0.3s ease;
}

.box .container:hover {
  opacity: 1;
}

figcaption {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* border: solid 2px rgb(196, 196, 196); */
  /* color:  rgb(255, 255, 255); */
}

figcaption h3 {
  margin: 0 auto;
  font-size: 1.5em;
  text-align: center;
}

figcaption p {
  margin: 0 15px;
  font-size: 1em;

}

figcaption .links {
  display: inline-block;
}

figcaption .link {
  font-size: 1em;
  width: 100px;
  background-color: #F29F8D;
  border: none;
  padding: 10px 20px;
  border-radius: 40px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 5px 20px;

}

figcaption .link:hover {
  background-color: #e4674a;
}

.empty {
  visibility: hidden;
}









